.tutorial-exercise-output pre code {
  white-space: pre;
  font-size: 1.22vw;
}

.tutorial-exercise-code-editor {
  font-size: 1.4vw;
}

.topics {
  width: 68%;
}

.topicsContainer {
  min-width: 1px;
  width: 30%;
}

.topicsList {
  min-width: 1px;
  width: 30%;
}

@media screen and (max-width: 767px) {
  .tutorial-exercise-output pre code {
    font-size: 1.85vw;
  }

  .tutorial-exercise-code-editor {
    font-size: 1.9vw;
  }

  .topics {
    width: 99%;
  }

  .topicsContainer {
    width: 1%;
  }
}
